.App {
  text-align: center;
  margin: auto;
}

.button {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0px 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.button:hover {
  color: black;
}

